{% extends 'base.html' %}
{% load static filters %}

{% block title %}
    Products
{% endblock title %}

{% block content %}
    <!-- ================ start banner area ================= -->
    <section class="blog-banner-area m-5" id="category">
        <div class="container h-100">
            <div class="blog-banner">
                <div class="text-center">
                    <h1>Shop Category</h1>
                    <nav aria-label="breadcrumb" class="banner-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'page:home' %}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Shop Category</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- ================ end banner area ================= -->

    <!-- ================ category section start ================= -->
    <section class="section-margin--small mb-5">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-5">
                    <div class="sidebar-categories">
                        <div class="head">Browse Categories</div>
                        <ul class="main-categories">
                            <li class="common-filter">
                                <form action="" id="Form">
                                    <ul>
                                        <li class="filter-list"><input class="pixel-radio" type="radio" id="all"
                                                                       name="category" value="0" onclick="Form.submit();"
                                                                       form="Form" {% if values.category == '0' or values.category not in values  %} checked {% endif %}><label
                                                for="all">All</label></li>
                                        {% for category in categories %}
                                        <li class="filter-list"><input class="pixel-radio" type="radio" id="{{ category.name }}"
                                                                       name="category" value="{{ category.id }}" onclick="Form.submit();"
                                                                       form="Form" {% if values.category == category.id|stringformat:'s' %} checked {% endif %}><label
                                                for="{{ category.name }}">{{ category.name }}<span> ({{ category.count_product }})</span></label></li>
                                        {% endfor %}
                                    </ul>
                                </form>
                            </li>
                        </ul>
                    </div>
                    <div class="sidebar-filter">
                        <div class="top-filter-head">Product Filters</div>
                        <div class="common-filter">
                            <div class="head">Brands</div>
                                <ul>
                                    <li class="filter-list"><input class="pixel-radio" type="radio" id="all"
                                                                   name="brand" value="0" onclick="Form.submit();"
                                                                   form="Form" {% if values.brand == '0' or values.brand not in values %} checked {% endif %}><label
                                            for="all">All</label></li>
                                    {% for brand in brands %}
                                    <li class="filter-list"><input class="pixel-radio" type="radio" id="{{ brand.name }}"
                                                                   name="brand" value="{{ brand.id }}" onclick="Form.submit();"
                                                                   form="Form" {% if values.brand == brand.id|stringformat:'s' %} checked {% endif %}><label
                                            for="{{ brand.name }}">{{ brand.name }}<span> ({{ brand.count_product }})</span></label></li>
                                    {% endfor %}
                                </ul>
                        </div>
                        <div class="common-filter">
                            <div class="head">Color</div>
                                <ul>
                                    <li class="filter-list"><input class="pixel-radio" type="radio" id="all"
                                                                   name="color" value="0" onclick="Form.submit();"
                                                                   form="Form" {% if values.color == '0' or values.color not in values %} checked {% endif %}><label
                                            for="all">All</label></li>
                                    {% for color in colors %}
                                    <li class="filter-list"><input class="pixel-radio" type="radio" id="{{ color.name }}"
                                                                   name="color" value="{{ color.id }}" onclick="Form.submit();"
                                                                   form="Form" {% if values.color == color.id|stringformat:'s' %} checked {% endif %}><label
                                            for="{{ color.name }}">{{ color.name }}<span> ({{ color.count_product }})</span></label></li>
                                    {% endfor %}
                                </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8 col-md-7">
                    <!-- Start Filter Bar -->
                    <div class="filter-bar d-flex flex-wrap align-items-center">
                        <div class="nice-select sorting mr-auto" tabindex="0">
                            <span class="current">{% if values.sort %}Sort {{ values.sort }} {% else %} Sort Name {% endif %}</span>
                            <ul class="list">
                                {% for key, sort in sorts %}
                                <li class="option">
                                    <input type="submit" value="{{ key }}" form="Form" name="sort">
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div>
                            <div class="input-group filter-bar-search">
                                <form action="{% url 'store:products' %}" id="Search">
                                    <input type="text" placeholder="Search" name="search" value="{{ values.search }}"> 
                                    <div class="input-group-append" style="display: inline;">
                                        <button type="submit" form="Search"><i class="ti-search"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- End Filter Bar -->
                    <!-- Start Best Seller -->
                    <section class="lattest-product-area pb-40 category-list">
                        <div class="row">
                            {% for product in products %}
                            <div class="col-md-6 col-lg-4">
                                <div class="card text-center card-product">
                                    <div class="card-product__img">
                                        {% if product.image %}
                                        <img class="card-img" src="{{ product.image.url }}" alt="">
                                        {% else %}
                                        <img class="card-img" src="{% static 'img/product/product1.png' %}" alt="">
                                        {% endif %}
                                    </div>
                                    <div class="card-body">
                                        <p>{{ product.category }}</p>
                                        <h4 class="card-product__title"><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h4>
                                        <p class="card-product__price">${{ product.price }}</p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </section>
                    <!-- End Best Seller -->
                        {% if page_obj.has_other_pages %}
                            <nav class="blog-pagination justify-content-center d-flex">
                                <ul class="pagination">
                                    {% if page_obj.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link"
                                                href="{% url 'store:products' %}?page={{ page_obj.previous_page_number }}"
                                               aria-label="Previous">
                                              <span aria-hidden="true">
                                                  <i class="fa fa-arrow-left"></i>
                                              </span>
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% for i in page_obj.paginator.page_range %}
                                        {% if i == page_obj.number %}
                                        <li class="page-item active">
                                            <a href="{% url 'store:products' %}?page={{ i }}"
                                            class="page-link">{{ i }}</a>
                                        </li>
                                        {% elif page_obj.number|add:"-3" <= i and i <= page_obj.number|add:"3" %}
                                        <li class="page-item">
                                            <a href="{% url 'store:products' %}?page={{ i }}"
                                            class="page-link" >{{ i }}</a>
                                        </li>
                                        {% elif i == page_obj.paginator.num_pages %}
                                        <li class="page-item">
                                            <a href="{% url 'store:products' %}?page={{ i }}"
                                            class="page-link" >{{ i }}</a>
                                        </li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if page_obj.has_next %}
                                        <li class="page-item">
                                            <a class="page-link"
                                               href="{% url 'store:products' %}?page={{ page_obj.next_page_number }}"
                                               aria-label="Next">
                                              <span aria-hidden="true">
                                                  <i class="fa fa-arrow-right"></i>
                                              </span>
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        {% endif %} 
                </div>
            </div>
        </div>
    </section>
    <!-- ================ category section end ================= -->

    <!-- ================ top product area start ================= -->
    {% comment %}<section class="related-product-area">
        <div class="container">
            <div class="section-intro pb-60px">
                <p>Popular Item in the market</p>
                <h2>Top <span class="section-intro__style">Product</span></h2>
            </div>
            <div class="row mt-30">
                <div class="col-sm-6 col-xl-3 mb-4 mb-xl-0">
                    <div class="single-search-product-wrapper">
                        <div class="single-search-product d-flex">
                            <a href="#"><img src="#" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Gray Coffee Cup</a>
                                <div class="price">$170.00</div>
                            </div>
                        </div>
                        <div class="single-search-product d-flex">
                            <a href="#"><img src="#" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Gray Coffee Cup</a>
                                <div class="price">$170.00</div>
                            </div>
                        </div>
                        <div class="single-search-product d-flex">
                            <a href="#"><img src="#" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Gray Coffee Cup</a>
                                <div class="price">$170.00</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-xl-3 mb-4 mb-xl-0">
                    <div class="single-search-product-wrapper">
                        <div class="single-search-product d-flex">
                            <a href="#"><img src="#" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Gray Coffee Cup</a>
                                <div class="price">$170.00</div>
                            </div>
                        </div>
                        <div class="single-search-product d-flex">
                            <a href="#"><img src="#" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Gray Coffee Cup</a>
                                <div class="price">$170.00</div>
                            </div>
                        </div>
                        <div class="single-search-product d-flex">
                            <a href="#"><img src="#" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Gray Coffee Cup</a>
                                <div class="price">$170.00</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-xl-3 mb-4 mb-xl-0">
                    <div class="single-search-product-wrapper">
                        <div class="single-search-product d-flex">
                            <a href="#"><img src="#" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Gray Coffee Cup</a>
                                <div class="price">$170.00</div>
                            </div>
                        </div>
                        <div class="single-search-product d-flex">
                            <a href="#"><img src="#" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Gray Coffee Cup</a>
                                <div class="price">$170.00</div>
                            </div>
                        </div>
                        <div class="single-search-product d-flex">
                            <a href="#"><img src="#" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Gray Coffee Cup</a>
                                <div class="price">$170.00</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-xl-3 mb-4 mb-xl-0">
                    <div class="single-search-product-wrapper">
                        <div class="single-search-product d-flex">
                            <a href="#"><img src="#" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Gray Coffee Cup</a>
                                <div class="price">$170.00</div>
                            </div>
                        </div>
                        <div class="single-search-product d-flex">
                            <a href="#"><img src="#" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Gray Coffee Cup</a>
                                <div class="price">$170.00</div>
                            </div>
                        </div>
                        <div class="single-search-product d-flex">
                            <a href="#"><img src="#" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Gray Coffee Cup</a>
                                <div class="price">$170.00</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>{% endcomment %}
    <!-- ================ top product area end ================= -->

    <!-- ================ Subscribe section start ================= -->
    <section class="subscribe-position">
        <div class="container">
            <div class="subscribe text-center">
                <h3 class="subscribe__title">Get Update From Anywhere</h3>
                <p>Bearing Void gathering light light his eavening unto dont afraid</p>
                <div id="mc_embed_signup">
                    <form target="_blank"
                          action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                          method="get" class="subscribe-form form-inline mt-5 pt-1">
                        <div class="form-group ml-sm-auto">
                            <input class="form-control mb-1" type="email" name="EMAIL" placeholder="Enter your email"
                                   onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address '">
                            <div class="info"></div>
                        </div>
                        <button class="button button-subscribe mr-auto mb-1" type="submit">Subscribe Now</button>
                        <div style="position: absolute; left: -5000px;">
                            <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </section>
    <!-- ================ Subscribe section end ================= -->


{% endblock content %}