<div>

    {% if is_like %}
    <button unicorn:click="unlike" style="background: none; border: none">
    <img width="30" height="30" class="mt-1"
    src="https://img.icons8.com/ios-filled/50/love-circled.png"
    alt="love-circled"/></button>
    {% else %}
    <button unicorn:click="like" style="background: none; border: none">
    <img width="30" height="30" class="mt-1"
    src="https://img.icons8.com/ios/50/love-circled.png"
    alt="love-circled"/></button>
    {% endif %}

    {% if num_likes != 0  %}
        <span class="ml-1">{{ num_likes }}</span>
    {% endif %}
</div>
